<html>

<head>
    <title>Sample app</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="container">
        <h1>You are calling me from {{ request.remote_addr }}</h1>
        <form method="POST" action="/add">
            <input name="ip" placeholder="Your IP" required />
            <input name="username" placeholder="Your Username" required/>
            <input name="password" placeholder="Your password" required />
            <button type="submit">Add Router</button>
        </form>

        <ul>
            {% for router in routers %}
            <li>
                <span class="comment-text">
                    <strong>{{ router.ip }}</strong>: {{ router.username }}
                </span>
                <div class="button-group">
                    <a href="/router/{{ router.ip }}" class="status-btn">View Status</a>
                    <form method="POST" action="{{ url_for('delete_router', idx=router._id) }}" style="display:inline">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>